<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
			xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
 			version="3.1">
  <display-name>HelloJsp</display-name>
  
  <!-- 서블릿 선언  -->
  <servlet>
  	<servlet-name>Hello</servlet-name>
  	<servlet-class>lesson.servlets.HelloWorld</servlet-class>
  </servlet>
  
  <!--서블릿을 URL과 연결  -->
  <servlet-mapping>
  	<servlet-name>Hello</servlet-name>	<!-- 서블랫 클래스주소의 약어를 설정해줌. Hello = lesson.servlets.HelloWorld -->
  	<url-pattern>/Hello</url-pattern>	<!-- 실제 주소창에 프로잭트네임뒤에 뭐라 적을지 정함 -->
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>MyInfo</servlet-name>
  	<servlet-class>lesson.servlets.MyInfo</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MyInfo</servlet-name>	
  	<url-pattern>/PDS</url-pattern>	
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>